/************* Base Styles *************/	
		* {
			box-sizing: border-box;
		}

		h1 {
			color: white;
			text-align:  center;
			vertical-align: middle;
			border: 2px white;
			font-family: Palatino Linotype;
			font-weight: bolder;
			background-color: #ff8000;
			margin-top: 0px;
			margin-bottom: 15px;
			margin-left: auto;
			margin-right: auto;
		}

		p {
			font-family: Helvetica;
			color: black;
			font-weight: bold;

		}

		section#container1 {
			background-color: #fcfa09;
			position: relative; 
			border: 3px solid #e02418; 
			top: 60px;
		}

		section#container2 {
			background-color: white;
			background-repeat: round;
			position: relative; 
			border: 3px solid #009942;
			top: 60px;
		}

		section#container3 {
			background-color: #241a7a;
			background-repeat: round;
			position: relative; 
			border: 3px solid #fffc06;
			top: 60px;
		}

		#h11 {
			background-color: #e02418;
			width: 40%;
			height: 37px;
			line-height: 35px;
			border-left: 3px solid #e02418;
			border-bottom: 3px solid #e02418;
			position: relative;
			float: right;
			margin-top: 0px;
			font-family: Calibri;
			vertical-align: middle;
			text-align: center;
			font-size: 25px;
			color: #fcfa09;
		}
		
		#h12 {
			background-color: #009942;
			width: 40%;
			height: 37px;
			line-height: 35px;
			border-left: 3px solid #009942;
			border-bottom: 3px solid #009942;
			position: relative;
			float: right;
			margin-top: 0px;
			font-family: Calibri;
			vertical-align: middle;
			text-align: center;
			font-size: 25px;
			color: white;
		}

		#h13 {
			background-color: #fffc06;
			width: 40%;
			height: 37px;
			line-height: 35px;
			border-left: 3px solid #fffc06;
			border-bottom: 3px solid #fffc06;
			position: relative;
			float: right;
			margin-top: 0px;
			font-family: Calibri;
			vertical-align: middle;
			text-align: center;
			font-size: 25px;
			color: #241a7a;
		} 
		#p21 {
			background-color: none;
			clear: both;
			border: none;
			text-align: center;
			text-align: justify;
			color: #e02418;
			font-weight: bolder;
			padding: 10px;
		}

		#p22 {
			background-color: none;
			clear: both;
			border: none;
			text-align: center;
			text-align: justify;
			color: green;
			font-weight: bolder;
			padding: 10px;
		}

		#p23 {
			background-color: none;
			clear: both;
			border: none;
			text-align: center;
			text-align: justify;
			color: yellow;
			font-weight: bolder;
			padding: 10px;
		}


/********** Large Devices Only **********/

@media (min-width: 992px) {
	.col-lg-4, .col-lg-12 {
		float: left;
	}

		.col-lg-4 {
		width: 30%;
		margin: 1.66666666666%;
	}

		.col-lg-12 {
		width: 90%;
		margin: 10%;
	}

	h1 {
		font-size: 90px;
		height: 108px;
		line-height: 108px;
	}
}

/********* Medium Devices Only *********/

@media (max-width: 991px) {
	@media (min-width: 768px) {
		.col-md-6, .col-md-12 {
			float: left;
		}

			.col-md-6 {
			width: 45%;
			margin: 2.5%;
		}

			.col-md-12 {
			width: 95%;
			margin: 2.5%;
		}

		h1 {
			font-size: 75px;
			height: 90px;
			line-height: 90px;
		}
	}
} 

@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
	}

		.col-sm-12 {
		width: 95%;
		margin: 2.5%;
	}

	h1 {
		font-size: 50px;
		height: 60px;
		line-height: 60px;
	}
} 