body {
	background-color: #0a0;
	color: red;
	font-weight: bold;
	font-size: 17px;
	font-family: bold;
}

li {
	color: #faf;
	font-size: 2em;
	font-family: calibri;
}

h2 {
	color: black;
	font-size: 4em;
}

p {
	font-family: arial;
	color:purple;
	font-size: 2em;